<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>

    <div class="gb-container">

        {{include '../partials/header.html'}}

        {{include '../about.html'}}

        {{include '../partials/footer.html'}}

    </div>

</body>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6limC2u6n5dlqiBZb3xP3IP0"></script>
<script src="/js/about.js"></script>

</html>