<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="keywords" content="虎博,Tigerobo,人工智能,机器学习,深度学习,智能投研,金融科技,FinTech,智能金融,大数据" />
    <meta name="description" content="虎博科技（Tigerobo）是一家人工智能技术驱动的科技公司，使用深度学习、自然语言处理等技
术打造新一代的人工智能金融信息搜索引擎" />
    <link rel="stylesheet" href="/assets/css/index.css">
    <script>
        ! function (e, t, n, g, i) {
            e[i] = e[i] || function () {
                (e[i].q = e[i].q || []).push(arguments)
            }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = (
                'https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(
                n, tag)
        }(window, document, "script", "assets.growingio.com/2.1/gio.js", "gio");
        gio('init', '90fa9d6650029919', {});
    </script>
</head>

<body>

    <div class="gb-container">

        {{include '../partials/header.html'}}

        {{include '../home.html'}}

        {{include '../partials/footer.html'}}

    </div>

</body>

<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=6limC2u6n5dlqiBZb3xP3IP0"></script>
<script src="./assets/lib/jquery-1.12.4.min.js"></script>
<script src="/assets/js/index.js"></script>
<script>
    gio('send');
</script>

</html>