<div class="blkcent about clearfloat">
    <div class="left">
        <div class="svglgogo">
            <embed src="./img/logo1.svg" type="image/svg+xml" />
        </div>
        <h3>专注金融的智能搜索引擎</h3>
        <p>全面、精准、实时、智能，专注金融业。 </br>虎博科技依托创始团队和核心成员在人工智能领域，特别是NLP自然语言处理领域的深厚技术积累，深入挖掘全球金融市场价值信息和数据，进行实时、全自动的获取、解析、理解和总结，帮助全世界关注资本市场的机构和个人用户，从繁琐重复的工作中解放出来，把精力投入到更富创造性的工作中。</p>
    </div>
    <div class="right">
        <h4>Milestones</h4>
        <ul>
            <li id='aaabbb' style="display: none;"><span>2019年3月</span>虎博科技宣布完成A轮融资3300万美金</li>
            <li><span>2019年1月</span>虎博科技入选清华五道口“2018全球金融科技大赛十强”企业</li>
            <li><span>2018年12月</span>虎博科技入选KPMG“2018中国领先金融科技企业50强”</li>
            <li><span>2018年6月</span>虎博科技宣布完成过亿元Pre-A轮融资</li>
            <li><span>2018年1月</span>虎博科技上线旗舰产品「虎博搜索」</li>
            <li><span>2017年8月</span>虎博科技宣布完成天使轮融资</li>
            <li><span>2017年7月</span>Tigerobo虎博科技在上海成立</li>
        </ul>
    </div>
</div>

<div class="blkcent video">
    <img src="./img/tigeroboimage@2x.jpg" alt="" srcset="">
</div>
<div id="boss"></div>
<div class="blkcent foundingteam">
    <div class="title">
        <span>Founding Team</span>
        <h2>虎博创始团队</h2>
    </div>
    <div class="card clearfloat">
        <div class="carditem left ">
            <img src="./img/dd@2x.png" alt="" class="bg">
            <img class="portrait" src="./img/boos1.png" alt="">
            <div class="name">陈烨 <span>博士</span> </div>
            <div class="posi">虎博科技创始人&CEO</div>
            <p>美国威斯康辛大学信息系统和计算机科学博士，长期注重人工智能自然语言交互及语义搜索领域的研究及金融落地场景挖掘，创新性领导搭建了全球跨行业领域的智能基础数据模型，形成独具价值的大数据体系，是上海市千人计划引入的海外专家之一。
            </p>
            <p>历任美团点评高级副总裁及Yahoo、eBay、Microsoft等全球知名互联网公司主任科学家和研发总监，成功搭建并实施了多个深具业界影响力的人工智能系统。</p>
            <p>拥有专利10余项，发表人工智能和机器学习专业论文20余篇，三次获得人工智能顶级会议（KDD和SIGIR）最佳论文奖，部分论文被收录进斯坦福、伯克利、杜克大学等世界一流院校的研究生教程。2013年担任加州大学伯克利分校客座教授。</p>
        </div>
        <div class="carditem right">
            <img src="./img/dd@2x.png" alt="" class="bg">
            <img class="portrait" src="./img/boos2.png" alt="">
            <div class="name">John Canny <span>博士</span> </div>
            <div class="posi">联合创始人兼首席科学家</div>
            <p>美国麻省理工学院计算机专业博士，世界著名计算机科学家和人工智能大师，Canny 边缘检测算法（Canny edge detector）发明者，创立边缘检测计算理论（Computational
                theory of edge detection）。 </p>
            <p>专注研究人工智能自然语言处理在商业领域的落地应用，共同参与研发虎博科技多项核心技术。历任Yahoo、eBay、Microsoft、Google等世界一流互联网公司专家顾问，与陈烨合作超过5年，成功将人工智能的学术研究应用于工业界。曾搭建并研发企业级NoSQL数据模型，攻克了超大量数据同时处理的难题，技术价值超10亿美金，赢得BBC、道琼斯、NBC等全球一流公司青睐。
            </p>
            <p>致力学术一线三十余年，是任美国加州大学伯克利分校杰出教授，创建并教授“Introduction to Deep Learning”课程。</p>
        </div>
    </div>

</div>