<div class="blkcent about clearfloat">
    <div class="left">
        <div class="svglgogo">
            <embed src="./img/logo1.svg" type="image/svg+xml" />
        </div>
        <h3>专注金融的智能搜索引擎</h3>
        <p>全面、精准、实时、智能，专注金融业。 </br>虎博科技依托创始团队和核心成员在人工智能领域，特别是NLP自然语言处理领域的深厚技术积累，深入挖掘全球金融市场价值信息和数据，进行实时、全自动的获取、解析、理解和总结，帮助全世界关注资本市场的机构和个人用户，从繁琐重复的工作中解放出来，把精力投入到更富创造性的工作中。</p>
    </div>
    <div class="right">
        <h4>Milestones</h4>
        <ul>
            <li><span>2019年3月</span>虎博科技宣布完成A轮融资3300万美金</li>
            <li><span>2019年1月</span>虎博科技入选清华五道口“2018全球金融科技大赛十强”企业</li>
            <li><span>2018年12月</span>虎博科技入选KPMG“2018中国领先金融科技企业50强”</li>
            <li><span>2018年6月</span>虎博科技宣布完成过亿元Pre-A轮融资</li>
            <li><span>2018年1月</span>虎博科技上线旗舰产品「虎博搜索」</li>
            <li><span>2017年8月</span>虎博科技宣布完成天使轮融资</li>
            <li><span>2017年7月</span>Tigerobo虎博科技在上海成立</li>
        </ul>
    </div>
</div>

<div class="blkcent video">
    <img src="./img/tigeroboimage@2x.jpg" alt="" srcset="">
</div>
<div id="boss"></div>
<div class="blkcent foundingteam">
    <div class="title">
        <!-- <span>Founding Team</span> -->
        <h2>虎博创始团队</h2>
    </div>
    <div class="card clearfloat">
        <div class="carditem left ">
            <img src="./img/dd@2x.png" alt="" class="bg">
            <img class="portrait" src="./img/boos1.png" alt="">
            <div class="name">陈烨 <span>博士</span> </div>
            <div class="posi">创始人 & CEO</div>
            <p>曾任美团点评高级副总裁，分管集团广告平台，助力集团年广告收入从1,000万提升至40多亿。</p>
            <p>曾在美国的微软、eBay和Yahoo担任主任科学家和研发总监等职位，成功实施过多个深具业界影响力的人工智能系统。</p>
            <p>三次获得人工智能顶级会议（KDD和SIGIR）最佳论文奖，在人工智能和机器学习领域发表了20余篇具有业界影响的论文，后续被纳入斯坦福，伯克利和杜克大学的研究生教程，并拥有10余项专利。</p>
            <p>美国威斯康辛大学麦迪逊分校信息系统和计算机科学博士，曾任加州大学伯克利分校客座教授，上海市千人计划引入的海外专家之一。</p>
        </div>
        <div class="carditem right">
            <img src="./img/dd@2x.png" alt="" class="bg">
            <img class="portrait" src="./img/boos2.png" alt="">
            <div class="name">John Canny <span>博士</span> </div>
            <div class="posi">联合创始人 & 首席科学家</div>
            <p>1987年开始在加州大学伯克利分校计算机系担任教授，作为该校的杰出教授，创建和教授“Introduction to Deep Learning”的课程。</p>
            <p>过去十余年，先后被Yahoo，eBay，微软和Google聘用为专家，其中超过5年时间和创始人陈烨合作，成功将人工智能的学术研究应用于工业界。</p>
            <p>2001年，联合创始了Cerisent（后改名为Mark Logic），开发企业级的NoSQL数据库，客户包括BBC、道琼斯、NBC等，公司最新估值12亿美金，投资人包括红杉资本等。</p>
            <p>麻省理工学院计算机专业博士，世界著名的计算机科学家和人工智能大师，Canny edge detector的发明者。</p>
        </div>
    </div>

</div>

