<div class="block blk-frist">
    <div class="blkcent">
        <p class="anibegin"><span>连接</span>人与全球信息 </p>
        <p class="anibegin">让人们<span>获取</span>知识更简单</p>
        <div class="link anibegin">
            <a class="morelink" href="./about.html">
                <span class="hover">了解我们</span>
                <label></label>
            </a>
        </div>
    </div>
    <div class="mouse anibegin">
        <img src="./accest/img/enternextpage_icon@2x.png" alt="">
    </div>
</div>


<div class="block product">
    <div class="blkcent clearfloat">
        <div class="desc">
            <p class="anibegin">搜索、工具</br>资讯、交易</br>四大产品矩阵</p>
            <div class="link anibegin">
                <a class="morelink" href="./products.html">
                    <span class="hover">查看我们的产品</span>
                    <label></label>
                </a>
            </div>
        </div>
        <div class="device anibegin">
            <img class="mac" src="./accest/img/Group_index4@2x.png" alt="">
            <!-- <img class="pad" src="./accest/img/ipadpro@2x.png" alt=""> -->
            <!-- <img class="phe" src="./accest/img/iphone x@2x.png" alt=""> -->
        </div>
    </div>
</div>

<div class="block technology">
    <div class="blkcent">
        <p class="title anibegin">那些不可被查找的信息盲区</br>我们可以</p>
        <div class="link anibegin">
            <a class="morelink" href="./technology.html">
                <span class="hover">了解我们的技术</span>
                <label></label>
            </a>
        </div>
        <div class="merge clearfloat anibegin">
            <div class="tech">
                <img src="./accest/img/aicard@2x.png" alt="">
                <p>ARTIFICIAL INTELLIGE</p>
            </div>
            <div class="tech">
                <img src="./accest/img/itcard@2x.png" alt="">
                <p>INTERNET TECHNOLOGY</p>
            </div>
            <div class="tech">
                <img src="./accest/img/fdcard@2x.png" alt="">
                <p>FINANCIAL DATA</p>
            </div>
        </div>
    </div>
</div>

<div class="block boss">
    <div class="blkcent">
        <div class="bossimg anibegin">
            <img src="./accest/img/bossbig@2x.png" alt="">
        </div>
        <div class="bossinfo anibegin">
            <h2>陈烨
                <span>博士</span>
            </h2>
            <p class="">虎博科技创始人 & CEO</p>
            <!-- <div class="schooling ">
                    <span>美国威斯康辛大学</span>|
                    <span>信息系统&计算机科学博士</span>
                </div>
                <div class="company ">
                    <img src="./accest/img/timg@2x.png" alt="">
                    <img src="./accest/img/microsoft@2x.png" alt="">
                    <img src="./accest/img/ebay@2x.png" alt="">
                    <img src="./accest/img/yahoo@2x.png" alt="">
                </div> -->
            <div class="link ">
                <a class="morelink" href="./about.html#boss">
                    <span class="hover">了解虎博创始人团队</span>
                    <label></label>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="block companynews">

    <div class="blkcent">

        <div class="title">
            <!-- <label for="">Company News</label> -->
            <h3>企业新闻</h3>
        </div>

        <div class="news clearfloat">
            <div class="newsitem item1">
                <a href="https://36kr.com/p/5136468.html">
                    <img src="./accest/img/newsimage@2x.jpg" alt="">
                    <div class="tag">企业动态</div>
                    <div class="newstitle">36kr 开发人工智能金融搜索引擎，「虎博科技」获得过亿元 Pre-A 轮融资 </div>
                    <div class="time">2018 年 6 月 5 日</div>
                </a>
            </div>
            <div class="newsitem item2">
                <a href="https://cn.technode.com/post/2018-06-20/tigerobo/">
                    <div class="tag">企业动态</div>
                    <div class="newstitle">动点科技 虎博科技：成立不久便获过亿元融资，它要用 AI 打造一个“接地气”的金融搜索引擎</div>
                    <div class="time">2018 年 6 月 19 日</div>
                </a>
            </div>
            <div class="newsitem item2">
                <a href="http://auto.sootoo.com/content/676174.shtml">
                    <div class="tag">企业动态</div>
                    <div class="newstitle">速途网：虎博科技创始人陈烨：以金融场景切入，将打造下一代智能简单搜索体验</div>
                    <div class="time">2018 年 6 月 19 日</div>
                </a>
            </div>
        </div>

    </div>
</div>