<div class="head">
    <div class="bgimg">
        <img src="./img/iPhone@2x.jpg" alt="">
    </div>
    <div class="blkcent">
        <h1>人与信息的连接 </br>更智能、更精准 </br>更自然</h1>
        <p>我们可以理解不同文化背景下，自然地语言表达 找到那个准确的信息，呈现给你 </p>
        <!-- <a href="//www.tigerobo.com/search/">
            <button>体验虎博搜索</button>
        </a> -->
    </div>
</div>



<div class="searchani">
    <h2>虎博搜索-去繁化简，一键获取关键信息</h2>
    <div class="iphonescroll">
        <div class="scroll">
            <div class="absiphone">
                <img src="/img/Bitmap@2x.png" alt="">
                <div class="scrollongimg">
                    <div class="searchtext">阿里巴巴活跃卖家数</div>
                    <img src="/img/searchmain.png" class="searchmain" alt="">
                    <img src="/img/searchresult.jpg" class="searchresult" alt="">
                </div>
            </div>
            <div class="abstext">
                <div class="textlist">
                    <div class="list">
                        <div class="item">
                            <h3></h3>
                            <p>专注金融领域，全面、精准、实时、智能 迅速掌握全球金融数据和信息</p>
                        </div>
                        <div class="item">
                            <h3>独有MasterMind技术</h3>
                            <p>MasterMind擅长从海量信息中挖掘到深层次信息，虎博科技通过自研系统可深入理解人类语言，根据少量专业知识，自动构建系统型跨领域知识库，使搜索更加智能。</p>
                        </div>
                        <div class="item">
                            <h3>行情和财务数据同步呈现</h3>
                            <p>通过自然语言，可以精准查询上市公司的行情、财务和运营数据。虎博科技深入挖掘全球金融市场价值信息和数据，进行实时、全自动的获取、解析、理解和总结，帮助全球公司、金融从业人员以及个人投资者从繁杂数据中脱身，降低理解金融的门槛，提高人们效率。</p>
                        </div>
                        <div class="item">
                            <h3>准确的研究报告搜索 </br>深入全文和图表</h3>
                            <p>深度挖掘全球公司研报，价值信息辅助投资决策更便捷。搜索更可以深入到研报内的每一个文字，以及研报内的专业图表，让国内外专业研究人员成为您的智库。</p>
                        </div>
                        <div class="item">
                            <h3>最新公司公告 </br>新闻报道及时呈现</h3>
                            <p>多地上市公司的最新公告及时更新，国内外一手新闻资讯不错过。虎博帮您更好的了解资本市场热点事件。</p>
                        </div>
                    </div>
                    <img src="/img/liner-top.png" alt="" class="linertop">
                    <img src="/img/liner-bot.png" alt="" class="linerbot">
                </div>
                <button>马上申请体验</button>
            </div>
        </div>
    </div>
</div>


<div class="search" style="display: none">
    <h3>虎博搜索-全球领先的智能金融搜索引擎</h3>
    <p>专注金融领域，全面、精准、实时、智能，一键掌握全球金融数据和信息</p>
    <img src="./img/Group 10@2x.png" alt="">
</div>


<div class="apps">
    <div class="title">
        <p>360°满足投资者需求的产品线</p>
        <p>让您获取数据和信息更简单</p>
    </div>
    <div class="grid3 clearfloat">
        <div class="griditem">
            <div class="gridcnt">
                <img src="./img/Group 9 Copy 2@2x.png" alt="" class="appicon">
                <div class="appname">西梅</div>
                <h4>AI智能双语资讯平台</h4>
                <div class="desc">
                    专注海外优质财经、科技媒体资讯<br>
                    全自动机翻和机写，更适合国人阅读
                </div>
                <div class="donwload">
                    <a href="https://dwz.cn/FYmsnMAq">
                        <img class="downdft" src="./img/app_store copy 2@2x.png" alt="">
                    </a>
                    <a href="https://dwz.cn/yfBUnUtF">
                        <img class="downdft" src="./img/app_store copy 3@2x.png" alt="">
                    </a>
                </div>
                <img src="./img/Group Copy 3@2x.png" alt="" class="view">
            </div>
        </div>
        <div class="griditem">
            <div class="gridcnt">
                <img src="./img/ctp.png" alt="" class="appicon">
                <div class="appname">创投派</div>
                <h4>新一代投融资信息服务平台</h4>
                <div class="desc">
                    更多融资机会，更多项目资源
                </div>
                <div class="donwload">
                    <a href="https://dwz.cn/tFeEcGS0">
                        <img class="downdft" src="./img/app_store copy 2@2x.png" alt="">
                    </a>
                    <a href="https://dwz.cn/ktLUrbRG">
                        <img class="downdft" src="./img/app_store copy 3@2x.png" alt="">
                    </a>
                </div>
                <img src="./img/Group Copy@2x.png" alt="" class="view">
            </div>
        </div>
        <div class="griditem">
            <div class="gridcnt">
                <img src="./img/zgs.png" alt="" class="appicon">
                <div class="appname">招股书</div>
                <h4>全球公司智能研究平台</h4>
                <div class="desc">
                    全球公司上市动态详情<br>
                    港股美股一手掌握
                </div>
                <div class="donwload">
                    <a href="https://dwz.cn/HTieupoD">
                        <img class="downdft" src="./img/app_store copy 2@2x.png" alt="">
                    </a>
                    <a href="https://dwz.cn/lnXQdkyl">
                        <img class="downdft" src="./img/app_store copy 3@2x.png" alt="">
                    </a>
                </div>
                <img src="./img/Group Copy 2@2x.png" alt="" class="view">
            </div>
        </div>
    </div>
    <div class="grid2">
        <div class="griditem">
            <div class="appicon">
                <img src="./img/Group 4@2x.png" alt="">
            </div>
            <div class="appname">搜研报</div>
            <div class="appdesc">深度挖掘全球公司研报，价值信息辅助投资决策更便捷</div>
            <div class="applink">
                <a href="https://souyanbao.tigerobo.com/">去体验</a>
            </div>
        </div>
        <div class="griditem">
            <div class="appicon">
                <img src="./img/cshq.png" alt="">
            </div>
            <div class="appname">财神行情</div>
            <div class="appdesc">一站式金融信息服务平台，融合金融行情、全球资讯、公司动态于一体</div>
            <div class="applink cshq">
                <a href="javascripy:void(0);">
                    去体验
                    <div class="qrcode">
                        <p>请扫码下载</p>
                        <div><img src="./img/qrcode_cshq.jpg"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<!-- <div class="ai">
    <div class="blkcent">
        <div class="title">AI赋能金融提效</div>
        <p>为券商、基金、银行等专业金融机构，政府、媒体、科研等企事业单位，寻求效率成本和创新，挖掘金融信息数据的价值与潜力，让改变突破边界</p>
        <ul class="clearfloat">
            <li>
                <img src="./img/research_icon@2x.png" alt="">
                <span>深度搜索</span>
            </li>
            <li>
                <img src="./img/model_icon@2x.png" alt="">
                <span>定制模型</span>
            </li>
            <li>
                <img src="./img/news_icon@2x.png" alt="">
                <span>舆情跟踪</span>
            </li>
            <li>
                <img src="./img/translate_icon@2x.png" alt="">
                <span>专业翻译</span>
            </li>
            <li>
                <img src="./img/aireport_icon@2x.png" alt="">
                <span>智能投研</span>
            </li>
            <li>
                <img src="./img/protect_icon@2x.png" alt="">
                <span>隐私保护</span>
            </li>
        </ul>
    </div>
</div> -->

<div class="ai2">

    <h2>AI赋能金融提效</h2>
    <p class="desc">为券商、基金、银行等专业金融机构，政府、媒体、科研等企事业单位，寻求效率成本和创新，挖掘金融信息数据的价值与潜力，让改变突破边界</p>

    <div class="grid clearfloat">
        <div class="item">
            <img src="/img/model_icon copy@2x.png" alt="">
            <h3>智能企搜</h3>
            <p>借助全网海量专业金融数据，深入理解金融语言。结合企业内部不同业务需求及呈现方式，化繁为简高效整合企业内部各类数据和信息，专业为企业人员效率赋能</p>
        </div>
        <div class="item">
            <img src="/img/research_icon copy@2x.png" alt="">
            <h3>智能搜索</h3>
            <p>将虎博智能搜索嵌入App、Web、小程序等客户端，赋予客户的产品更智能的自然语言交互的搜索体验。</p>
        </div>
        <div class="item">
            <img src="/img/aireport_icon copy@2x.png" alt="">
            <h3>智能投研</h3>
            <p>一站式深度洞察全球金融市场，打通一级市场和二级市场，集合全球资讯、主流资产行情、创投讯息等投研所需内容，结构化高效呈现，辅助关键决策 </p>
        </div>
        <div class="item">
            <img src="/img/news_icon copy@2x.png" alt="">
            <h3>舆情监控</h3>
            <p>针对客户关注内容，全方位根据公开信息和特定信息，基于自然语言处理，动态提供舆情监控及风险分析提示，为投资决策和风险控制提供重要信息支撑。</p>
        </div>
        <div class="item">
            <img src="/img/translate_icon copy@2x.png" alt="">
            <h3>专业翻译</h3>
            <p>适应不同文化背景的语言翻译，遵循金融专业领域习惯，更本土、更自然、更专业。</p>
        </div>
        <div class="item">
            <img src="/img/aireport_icon copy 2@2x.png" alt="">
            <h3>知识图谱</h3>
            <p>独有自然语言处理技术，搭建专业领域深度知识图谱，快速学习并迭代金融领域专业最新知识，全面提供目标对象及关联对象的一系列信息。</p>
        </div>
    </div>


</div>