<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
</head>

<body>

    <div class="gb-container">
        <header>
            <div class="gb-wrapper header clearflaot ">
                <div class="logo">
                    <a href="./">
                        <img src="./img/logo@2x.png" alt="">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="technology.html">核心技术</a></li>
                        <li><a href="products.html">我们的产品</a></li>
                        <li class="active"><a href="about.html">关于我们</a></li>
                        <li><a href="jobs.html">工作机会</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="blkcent about clearflaot">
            <div class="left">
                <img src="./img/about_logo@2x.png" alt="">
                <h3>专注金融的智能搜索引擎</h3>
                <p>全面、精准、实时、智能，专注金融业。 </br>虎博科技依托创始团队和核心成员在人工智能领域，特别是NLP自然语言处理领域的深厚技术积累，深入挖掘全球金融市场价值信息和数据，进行实时、全自动的获取、解析、理解和总结，帮助全球公司、金融从业人员以及个人投资者从繁杂数据中脱身，降低理解金融的门槛，提高人们效率。</p>
            </div>
            <div class="right">
                <h4>Milestones</h4>
                <ul>
                    <li>2019年1月 虎博科技入选清华五道口“2018全球金融科技大赛十强”企业</li>
                    <li>2018年12月 虎博科技入选KPMG“2018中国领先金融科技企业50强”</li>
                    <li>2018年6月 虎博科技完成Pre-A轮融资</li>
                    <li>2018年1月 虎博科技上线旗舰产品虎博搜索</li>
                    <li>2017年8月 虎博科技获得天使轮融资</li>
                    <li>2017年7月 Tigerobo虎博科技在上海成立</li>
                </ul>
            </div>
        </div>

        <div class="blkcent video">
            <img src="./img/tigeroboimage@2x.jpg" alt="" srcset="">
        </div>

        <div class="blkcent foundingteam">
            <div class="title">
                <span>Founding Team</span>
                <h2>虎博创始团队</h2>
            </div>
            <div class="card clearflaot">
                <div class="carditem left ">
                    <img src="./img/dd@2x.png" alt="" class="bg">
                    <img class="portrait" src="./img/boos1.png" alt="">
                    <div class="name">陈烨</div>
                    <div class="posi">虎博科技创始人&CEO</div>
                    <p>曾任美团点评高级副总裁，分管集团广告平台，助力集团年广告收入从千万提升至数十亿元。在此之前，他曾在美国的Microsoft、eBay和Yahoo担任主任科学家和研发总监等职位，成功实施过多个深具业界影响力的人工智能系统。
                    </p>
                    <p>陈烨曾三次获得人工智能顶级会议（KDD和SIGIR）的最佳论文奖，在人工智能和机器学习领域发表了20余篇具有业界影响的论文，并拥有10余项专利，这些论文后续被纳入斯坦福，伯克利和杜克大学的研究生教程。
                        美国威斯康辛大学麦迪逊分校信息系统和计算机科学博士，曾任加州大学伯克利分校客座教授。陈烨是上海市千人计划引入的海外专家之一。</p>
                </div>
                <div class="carditem right">
                    <img src="./img/dd@2x.png" alt="" class="bg">
                    <img class="portrait" src="./img/boos2.png" alt="">
                    <div class="name">陈烨</div>
                    <div class="posi">虎博科技创始人&CEO</div>
                    <p>自1987年至今在加州大学伯克利分校计算机系担任教授，作为该校的杰出教授，John 创建和教授 “Introduction to Deep Learning” 课程。 </p>
                    <p>在过去十余年，John先后被Yahoo，eBay，Microsoft和Google聘用为专家，其中超过5年时间和创始人陈烨一起，成功将人工智能的学术研究应用于工业界。2001年，John联合创始了Cerisent（后改名为Mark Logic）。该公司开发和提供企业级的NoSQL数据库，客户包括BBC、道琼斯、NBC等，公司最新估值12亿美金，投资人包括红杉资本等。</p>
                    <p>麻省理工学院计算机专业博士。John是世界著名的计算机科学家和人工智能大师，Canny edge detector的发明者，发表了170余篇论文，获得了15个具有影响力的论文奖项。</p>
                </div>
            </div>

        </div>

        <footer>
            <div class="foot clearflaot">
                <div class="grid navigation">
                    <h3>站内导航</h3>
                    <ul>
                        <li>首页</li>
                        <li>核心技术</li>
                        <li>产品</li>
                        <li>关于我们</li>
                        <li>工作机会</li>
                        <li>寻求合作</li>
                    </ul>
                </div>
                <div class="grid contactus">
                    <h3>联系我们</h3>
                    <ul>
                        <li>400-888-8888</li>
                        <li>xxxxx@giterobo.com</li>
                    </ul>
                </div>
                <div class="grid addressmap">
                    <img src="./img/map.png" alt="">
                </div>
            </div>
        </footer>
    </div>

</body>

</html>