<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
</head>

<body>

    <div class="gb-container">
        <header>
            <div class="gb-wrapper header clearflaot ">
                <div class="logo">
                    <a href="">
                        <img src="./img/logo@2x.png" alt="">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="technology.html">核心技术</a></li>
                        <li><a href="">我们的产品</a></li>
                        <li class="active"><a href="about.html">关于我们</a></li>
                        <li><a href="jobs.html">工作机会</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="blkcent about clearflaot">
            <div class="left">
                <img src="./img/about_logo@2x.png" alt="">
                <h3>请用一句话总结出我们企业的核心特点和企业愿景，站在业内深耕者，服务于业内的口吻。</h3>
                <p>虎博科技拥有全球领先的人工智能自然语言交互搜索平台，致力于通过深度学习、自然语言处理等前沿技术、将全球金融市场各类信息和数据进行实时地、全自动的获取、解析、理解和总结，为全球金融机构、相关从业人员和个人投资者提供更全面、精准、实时和智能的金融数据和信息，提高使用者效率。</p>
            </div>
            <div class="right">
                <h4>Milestones</h4>
                <ul>
                    <li>里程碑描述里程碑描述</li>
                    <li>里程碑描述里程碑</li>
                    <li>里程碑描述里程碑</li>
                    <li>里程碑描里程碑描述里程碑</li>
                    <li>里程碑描述里程里程碑</li>
                    <li>里程碑描述里程碑</li>
                </ul>
            </div>
        </div>

        <div class="blkcent video">
        </div>

        <div class="blkcent foundingteam">
            <div class="title">
                <span>Founding Team</span>
                <h2>虎博创始团队</h2>
            </div>
            <div class="card clearflaot">
                <div class="carditem left ">
                    <img class="portrait" src="./img/portrait.png" alt="">
                    <div class="name">陈烨</div>
                    <div class="posi">虎博科技创始人&CEO</div>
                    <p>曾任美团点评高级副总裁，分管集团广告平台，助力集团年广告收入从千万提升至数十亿元。在此之前，他曾在美国的Microsoft、eBay和Yahoo担任主任科学家和研发总监等职位，成功实施过多个深具业界影响力的人工智能系统。
                    </p>
                    <p>陈烨曾三次获得人工智能顶级会议（KDD和SIGIR）的最佳论文奖，在人工智能和机器学习领域发表了20余篇具有业界影响的论文，并拥有10余项专利，这些论文后续被纳入斯坦福，伯克利和杜克大学的研究生教程。
                        美国威斯康辛大学麦迪逊分校信息系统和计算机科学博士，曾任加州大学伯克利分校客座教授。陈烨是上海市千人计划引入的海外专家之一。</p>
                </div>
                <div class="carditem right">
                    <img class="portrait" src="./img/portrait.png" alt="">
                    <div class="name">陈烨</div>
                    <div class="posi">虎博科技创始人&CEO</div>
                    <p>自1987年至今在加州大学伯克利分校计算机系担任教授，作为该校的杰出教授，John 创建和教授 “Introduction to Deep Learning” 课程。
                        在过去十余年，John先后被Yahoo，eBay，Microsoft和Google聘用为专家，其中超过5年时间和创始人陈烨一起，成功将人工智能的学术研究应用于工业界。2001年，John联合创始了Cerisent（后改名为Mark
                        Logic）。该公司开发和提供企业级的NoSQL数据库，客户包括BBC、道琼斯、NBC等，公司最新估值12亿美金，投资人包括红杉资本等。
                        麻省理工学院计算机专业博士。John是世界著名的计算机科学家和人工智能大师，Canny edge detector的发明者，发表了170余篇论文，获得了15个具有影响力的论文奖项。
                    </p>
                </div>
            </div>

        </div>

        <footer>
            <div class="foot clearflaot">
                <div class="grid navigation">
                    <h3>站内导航</h3>
                    <ul>
                        <li>首页</li>
                        <li>核心技术</li>
                        <li>产品</li>
                        <li>关于我们</li>
                        <li>工作机会</li>
                        <li>寻求合作</li>
                    </ul>
                </div>
                <div class="grid contactus">
                    <h3>联系我们</h3>
                    <ul>
                        <li>400-888-8888</li>
                        <li>xxxxx@giterobo.com</li>
                    </ul>
                </div>
                <div class="grid addressmap">
                    <img src="./img/map.png" alt="">
                </div>
            </div>
        </footer>
    </div>

</body>

</html>