<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div class="gb-container">
        <header>
            <div class="gb-wrapper header clearflaot ">
                <div class="logo">
                    <a href="">
                        <img src="./img/logo@2x.png" alt="">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="technology.html">核心技术</a></li>
                        <li><a href="">我们的产品</a></li>
                        <li><a href="about.html">关于我们</a></li>
                        <li class="active"><a href="jobs.html">工作机会</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="gobopening">
            <div class="blkcent">
                <h2>Job Opening</h2>
                <h3>欢迎加入虎博科技，让你的成就超出预期</h3>
                <ul>
                    <li>我们知道，你很难下决心离开上一个基地 </li>
                    <li>我们知道，你希望你的职业生涯成就非凡 </li>
                    <li>你发现，大学同学订了Tesla，部门同事升了总监，隔壁老王分了好多期权 </li>
                    <li>而你则拥有了超能力，每天能在镜子里看到五年后的自己 </li>
                    <li>不妨换个人生轨迹，让你的期待超出你的想象</li>
                </ul>

            </div>
        </div>


        <div class="engineering">
            <div class="blkcent">
                <div class="project proactive">
                    <div class="title">
                        <h3>Engineering 软件工程</h3>
                        <div class="opening">5 Opening</div>
                    </div>
                    <div class="prolist">
                        <div class="enggroup endactive">
                            <div class="gtil">NLP算法工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                        <li>熟悉自然语言处理基本任务 </li>
                                        <li>机器学习或NLP相关工作经验优先 </li>
                                        <li>有机器学习经验，熟悉深度学习、神经网络和相关领域优先</li>
                                        <li>良好的沟通技能，能够与团队有效沟通交流</li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">基础架构研发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">图像处理工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">Android开发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">基础算法研发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project">
                    <div class="title">
                        <h3>Design 设计</h3>
                        <div class="opening">2 Opening</div>
                    </div>
                    <div class="prolist">
                        <div class="enggroup endactive">
                            <div class="gtil">NLP算法工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                        <li>熟悉自然语言处理基本任务 </li>
                                        <li>机器学习或NLP相关工作经验优先 </li>
                                        <li>有机器学习经验，熟悉深度学习、神经网络和相关领域优先</li>
                                        <li>良好的沟通技能，能够与团队有效沟通交流</li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">基础架构研发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">图像处理工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">Android开发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">基础算法研发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project">
                    <div class="title">
                        <h3>Sales 销售</h3>
                        <div class="opening">2 Opening</div>
                    </div>
                    <div class="prolist">
                        <div class="enggroup endactive">
                            <div class="gtil">NLP算法工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                        <li>熟悉自然语言处理基本任务 </li>
                                        <li>机器学习或NLP相关工作经验优先 </li>
                                        <li>有机器学习经验，熟悉深度学习、神经网络和相关领域优先</li>
                                        <li>良好的沟通技能，能够与团队有效沟通交流</li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">基础架构研发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">图像处理工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">Android开发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                        <div class="enggroup">
                            <div class="gtil">基础算法研发工程师</div>
                            <div class="glist">
                                <div class="list">
                                    <label>条件要求:</label>
                                    <ul>
                                        <li>大学统招本科及以上学历，AI,NLP，机器学习、数学、物理或相关专业毕业生 </li>
                                        <li>熟悉Python/C++/Java中的至少一门语言 </li>
                                        <li>熟悉Pytorch/Torch/Tensorflow中的至少一门语言 </li>
                                        <li>熟悉LSTM,CNN,RNN,seq2seq，BERT神经网络模型 </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <label>职责描述:</label>
                                    <ul>
                                        <li>利用自然语言处理、深度学习的理论和方法解决金融行业的实际问题</li>
                                        <li>与内部团队协作，挖掘最新算法的使用场景，并提升产品性能</li>
                                        <li>参与最前沿的NLP和机器学习领域的研究工作，并用于实际问题的解决和优化</li>
                                    </ul>
                                </div>
                                <div class="sendaddr">请将简历发送到邮箱hr@tigerobo</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <footer>
            <div class="foot clearflaot">
                <div class="grid navigation">
                    <h3>站内导航</h3>
                    <ul>
                        <li>首页</li>
                        <li>核心技术</li>
                        <li>产品</li>
                        <li>关于我们</li>
                        <li>工作机会</li>
                        <li>寻求合作</li>
                    </ul>
                </div>
                <div class="grid contactus">
                    <h3>联系我们</h3>
                    <ul>
                        <li>400-888-8888</li>
                        <li>xxxxx@giterobo.com</li>
                    </ul>
                </div>
                <div class="grid addressmap">
                    <img src="./img/map.png" alt="">
                </div>
            </div>
        </footer>

    </div>
    <script src="./js/jquery-1.12.4.min.js"></script>
</body>

</html>