<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div class="gb-container">
        <header>
            <div class="gb-wrapper header clearfloat ">
                <div class="logo">
                    <a href="./">
                        <img src="./img/logo2.svg" alt="">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="technology.html">核心技术</a></li>
                        <li><a href="products.html">我们的产品</a></li>
                        <li><a href="about.html">关于我们</a></li>
                        <li class="active"><a href="jobs.html">工作机会</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="gobopening">
            <div class="blkcent">
                <h2>Job Opening</h2>
                <h3>欢迎加入虎博科技，让你的成就超出预期</h3>
                <ul>
                    <li>我们知道，你很难下决心离开上一个基地 </li>
                    <li>我们知道，你希望你的职业生涯成就非凡 </li>
                    <li>我们知道，你在寻求满怀激情的工作伙伴 </li>
                    <li>不妨换个人生轨迹，让你的期待超出你的想象</li>
                </ul>
            </div>
        </div>


        <div class="engineering">
            <div class="blkcent">

            </div>
        </div>



        <footer>
            <div class="foot clearfloat">
                <div class="grid navigation">
                    <h3>站内导航</h3>
                    <ul>
                        <li><a href="./">首页</a> </li>
                        <li><a href="./technology.html">核心技术</a> </li>
                        <li><a href="./products.html">产品</a></li>
                        <li><a href="./about.html">关于我们</a> </li>
                        <li><a href="./jobs.html">工作机会</a></li>
                    </ul>
                </div>
                <div class="grid contactus">
                    <h3>联系我们</h3>
                    <ul>
                        <li>021-63888086</li>
                        <li>contact@tigerobo.com</li>
                    </ul>
                </div>
                <div class="grid addressmap" id="bdmap">
                    <img src="./img/map.png" alt="">
                </div>
            </div>
        </footer>

    </div>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=6limC2u6n5dlqiBZb3xP3IP0"></script>
    <script src="./js/jquery-1.12.4.min.js"></script>
</body>

</html>