<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>核心技术</title>
</head>

<body>

    <div class="gb-container">
        <header>
            <div class="gb-wrapper header clearflaot ">
                <div class="logo">
                    <a href="">
                        <img src="./img/logo@2x.png" alt="">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li class="active"><a href="technology.html">核心技术</a></li>
                        <li><a href="">我们的产品</a></li>
                        <li><a href="about.html">关于我们</a></li>
                        <li><a href="jobs.html">工作机会</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="technology">
            <div class="blkcent">
                <div class="dubtitle">
                    <span>Technology</span>
                    <h3>虎博核心技术</h3>
                </div>

                <div class="desc">
                    <p>览文案核心技术概览文案核心技术概览文案核心技术概览文案核心技术概览文案</p>
                    <p>核心技术概核心技术概览文案核心技术概览文案核心技术概览文案核心技术概览文案核心技术概览文案核心技术概览文案</p>
                </div>
                <div class="grid4 clearflaot">
                    <div class="griditem">
                        <div class="title">核心技术01核心技术01核心技术01</div>
                        <p>核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述</p>
                    </div>
                    <div class="griditem">
                        <div class="title">核心技术01核心技术01核心技术01</div>
                        <p>核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述</p>
                    </div>
                    <div class="griditem">
                        <div class="title">核心技术01核心技术01核心技术01</div>
                        <p>核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述</p>
                    </div>
                    <div class="griditem">
                        <div class="title">核心技术01核心技术01核心技术01</div>
                        <p>核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述核心技术描述</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="experience">
            <div class="blkcent">
                <h2>来，和 Berkeley BIDMat Mach 认识一下</h2>
                <p>只需一步就能完成申请，然后便可开始体验</p>
                <button>马上申请体验</button>
            </div>
        </div>


        <footer>
            <div class="foot clearflaot">
                <div class="grid navigation">
                    <h3>站内导航</h3>
                    <ul>
                        <li>首页</li>
                        <li>核心技术</li>
                        <li>产品</li>
                        <li>关于我们</li>
                        <li>工作机会</li>
                        <li>寻求合作</li>
                    </ul>
                </div>
                <div class="grid contactus">
                    <h3>联系我们</h3>
                    <ul>
                        <li>400-888-8888</li>
                        <li>xxxxx@giterobo.com</li>
                    </ul>
                </div>
                <div class="grid addressmap">
                    <img src="./img/map.png" alt="">
                </div>
            </div>
        </footer>

    </div>

    <div class="fixed mask" style="display:none;">

        <div class="fixedcnt">

            <div class="froms clearflaot">
                <div class="input">
                    <input type="text" placeholder="姓名">
                </div>
                <div class="input">
                    <input type="text" placeholder="工作邮箱">
                </div>
                <div class="input">
                    <input type="text" placeholder="手机号码">
                </div>
                <div class="input">
                    <input type="text" placeholder="公司名称">
                </div>

                <div class="textarea">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

            <button class="submit">提交</button>


        </div>

    </div>

</body>

</html>