<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>核心技术</title>
</head>

<body>

    <div class="gb-container">
        <header>
            <div class="gb-wrapper header clearfloat ">
                <div class="logo">
                    <a href="./">
                        <img src="./img/logo2.svg" alt="">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li class="active"><a href="technology.html">核心技术</a></li>
                        <li><a href="products.html">我们的产品</a></li>
                        <li><a href="about.html">关于我们</a></li>
                        <li><a href="jobs.html">工作机会</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="technology">
            <div class="blkcent">
                <div class="dubtitle">
                    <span>Technology</span>
                    <h3>虎博核心技术</h3>
                </div>

                <div class="desc">
                    <p>虎博科技站在人工智能的世界前沿，从金融使用场景的感知、认知和应用角度出发，自研人工智能和NLP领域最具商业价值的关键技术。通过全自动深度学习、开域知识图谱构建、自然语言处理等技术，将全球金融市场各类信息和数据进行实时动态地获取、解析、理解和总结，将原本不可被搜索到的信息盲区呈现在您的面前，大幅提升用户获取数据和信息的效率。</p>

                </div>
                <div class="grid4 clearfloat">
                    <div class="griditem">
                        <div class="title">自研系统 HACK DARK DATA</div>
                        <p>独家自然语言处理技术，能够对PDF、EXCEL、图片、音频等不可搜索读取的内容编译成可读取处理的文本，使搜索更加便捷。</p>
                    </div>
                    <div class="griditem">
                        <div class="title">构建基于深度学习的开域知识图谱</div>
                        <p>根据少量专业知识，通过自研系统可深入理解人类语言，自动构建系统型跨领域知识库，使搜索更加智能。</p>
                    </div>
                    <div class="griditem">
                        <div class="title">针对金融垂直行业的自研自然语言理解模型</div>
                        <p>基于金融专业领域的自然语言深度理解和学习，拥有中文金融领域全球最大词向量模型，使搜索更懂金融。</p>
                    </div>
                    <div class="griditem">
                        <div class="title">独有全球最快深度学习平台 Berkeley BIDMat/Mach</div>
                        <p>虎博系列产品运行的核心技术平台，能最快学习新事物，第一时间对系统内各项数据元素进行迭代更新。</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="experience">
            <div class="blkcent">
                <img src="./img/RectangleRectangleMaskCopy@1x.png" alt="">
                <h2>来，和「虎博金融智能搜索引擎」 认识一下</h2>
                <p>只需一步就能完成申请，然后便可开始体验</p>

                <a href="//www.tigerobo.com/search/">
                    <button>马上申请体验</button>
                </a>
            </div>
        </div>


        <footer>
            <div class="foot clearfloat">
                <div class="grid navigation">
                    <h3>站内导航</h3>
                    <ul>
                        <li><a href="./">首页</a> </li>
                        <li><a href="./technology.html">核心技术</a> </li>
                        <li><a href="./products.html">产品</a></li>
                        <li><a href="./about.html">关于我们</a> </li>
                        <li><a href="./jobs.html">工作机会</a></li>
                    </ul>
                </div>
                <div class="grid contactus">
                    <h3>联系我们</h3>
                    <ul>
                        <li>021-63888086</li>
                        <li>contact@tigerobo.com</li>
                    </ul>
                </div>
                <div class="grid addressmap" id="bdmap">
                    <img src="./img/map.png" alt="">
                </div>
            </div>
        </footer>

    </div>

    <div class="fixed mask" style="display:none;">

        <div class="fixedcnt">

            <div class="froms clearfloat">
                <div class="input">
                    <input type="text" placeholder="姓名">
                </div>
                <div class="input">
                    <input type="text" placeholder="工作邮箱">
                </div>
                <div class="input">
                    <input type="text" placeholder="手机号码">
                </div>
                <div class="input">
                    <input type="text" placeholder="公司名称">
                </div>

                <div class="textarea">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

            <button class="submit">提交</button>

        </div>

    </div>

    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=6limC2u6n5dlqiBZb3xP3IP0"></script>

</body>

</html>