@font-face {
  font-family: "hbfont";
  src: url(../font/PingFangMedium.ttf), url(../font/PingFangMedium.eot);
}
@font-face {
  font-family: "hbfonten";
  src: url(../font/RobotoThinItalic.ttf), url(../font/RobotoThinItalic.eot);
}

* {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-size: 17px;
  width: 100%;
  height: 100%;
  font-family: "hbfont", "hbfonten";
}
a {
  text-decoration: none;
}
img {
  border: 0px;
}
li {
  list-style: none;
}
.gb-container {
  position: relative;
  min-width: 1280px;
  overflow: visible;
  margin: 0 auto;
  height: 100%;
}
.gb-wrapper {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.clearflaot::after {
  content: "";
  display: block;
  clear: both;
}
.justify:after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 0;
}
.hover {
  position: relative;
}
.hover::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #496DEC;
  transition-duration: 0.35s;
}
.hover:hover::before {
  width: 100%;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 76px;
  left: 0;
  top: 0;
  border: 1px solid #E8EAED;
  z-index: 6000;
}
header .header {
  position: relative;
  height: 76px;
  line-height: 76px;
}
header .header .logo {
  float: left;
  width: 130px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}
header .header .logo a {
  display: block;
  position: relative;
  background-color: #fff;
  z-index: 10;
}
header .header .logo img {
  position: relative;
  top: 10px;
  width: 100%;
  height: 24px;
}
header .header .menu {
  float: right;
}
header .header .menu ul {
  margin-left: 300px;
}
header .header .menu li {
  float: left;
  padding: 0 30px;
}
header .header .menu a {
  position: relative;
  color: #4A4A4A;
  line-height: 76px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  height: 100%;
}
header .header .menu a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  bottom: -1px;
  left: 0;
  height: 2px;
  background-color: #1D1F66;
  transition-duration: 0.35s;
}
header .header .menu a:hover::after {
  left: 10%;
  width: 80%;
}
header .header .menu .active a::after {
  content: "";
  display: block;
  width: 80%;
  position: absolute;
  bottom: -1px;
  left: 10%;
  height: 2px;
  background-color: #1D1F66;
}

footer {
  position: relative;
  padding: 100px 0;
  border-top: 1px solid #E8EAED;
}
footer .foot {
  box-sizing: border-box;
  padding-left: 90px;
  position: relative;
  margin: 0 auto;
  width: 1280px;
}
footer .foot .grid {
  float: left;
  margin-right: 200px;
}
footer .foot .grid h3 {
  font-size: 14px;
  color: #4A4A4A;
}
footer .foot .grid li {
  font-size: 14px;
  margin-top: 15px;
}
footer .foot .grid li a {
  color: #808080;
}
footer .foot .grid li a:hover {
  color: blue;
}
footer .foot .addressmap {
  float: right;
  margin-right: 0;
  width: 470px;
  height: 270px;
}
footer .foot .addressmap > img {
  height: 100%;
  width: 100%;
}

.dubtitle {
  text-align: center;
}
.dubtitle span {
  color: #8E8E8E;
  font-size: 26px;
}
.dubtitle h3 {
  color: #4A4A4A;
  font-size: 32px;
  margin-top: 10px;
}
.blkcent {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8000;
}
.mask {
  background-color: rgba(0, 0, 0, 0.5);
}

.head {
  position: relative;
  margin-top: 76px;
  overflow: hidden;
  height: 600px;
}
.head .bgimg {
  position: absolute;
  width: 5000px;
  height: 600px;
  top: 0;
  left: 50%;
  margin-left: -2500px;
  background-color: #fafafa;
}
.head .bgimg img {
  position: relative;
  display: block;
  height: 130%;
  margin: 0 auto;
  top: -15%;
}
.head .blkcent {
  box-sizing: border-box;
  padding-left: 110px;
}
.head .blkcent h1 {
  font-size: 56px;
  width: 450px;
  font-weight: bold;
  color: #4d4d4d;
  line-height: 72px;
  margin-top: 120px;
  font-weight: 400;
}
.head .blkcent h2 {
  font-size: 29px;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 41px;
  margin-top: 25px;
}
.head .blkcent p {
  width: 550px;
  font-size: 15px;
  color: #4a4a4a;
  line-height: 25px;
  margin-top: 15px;
}
.head .blkcent button {
  width: 224px;
  height: 60px;
  background-color: #FA2B56;
  background: linear-gradient(225deg, #fa2b56 0%, #f91c3d 100%);
  box-shadow: 20px 20px 60px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 60px;
  font-size: 22px;
  color: #ffffff;
  transition-duration: 0.3s;
  cursor: pointer;
}
.head .blkcent button:hover {
  opacity: 0.8;
}
.ai {
  padding-top: 150px;
  padding-bottom: 200px;
}
.ai .title {
  font-size: 30px;
  color: #4A4A4A;
  text-align: center;
}
.ai p {
  width: 848px;
  height: 64px;
  font-size: 20px;
  color: #4a4a4a;
  line-height: 32px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.ai ul {
  margin-top: 86px;
}
.ai ul li {
  float: left;
  width: 16.66%;
  text-align: center;
}
.ai ul li img {
  height: 72px;
  margin: 0 auto;
  display: block;
}
.ai ul li span {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #4A4A4A;
  margin-top: 15px;
}
.apps {
  padding: 100px 0;
}
.apps .dubtitle {
  padding-bottom: 80px;
}
.apps .left {
  position: relative;
  width: 46%;
  height: 362px;
  overflow: hidden;
  float: left;
  margin: 0 2%;
  margin-bottom: 48px;
  border-radius: 8px;
  transition-duration: 0.35s;
}
.apps .left:hover {
  box-shadow: 0 0 80px #aaaaaa;
}
.apps .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.apps .applogo {
  position: relative;
  margin: 40px 0 0 30px;
  width: 100px;
  z-index: 10;
}
.apps p {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  width: 230px;
  margin-left: 40px;
  margin-bottom: 5px;
  line-height: 25px;
  z-index: 10;
}
.apps .donwload {
  position: absolute;
  left: 30px;
  bottom: 50px;
  margin-left: 10px;
  border-radius: 4px;
}
.apps .donwload a {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 33px;
  margin-right: 20px;
  overflow: hidden;
}
.apps .donwload a:hover .downhov {
  opacity: 1;
}
.apps .donwload a:hover .downdft {
  opacity: 0;
}
.apps .donwload a div {
  width: 110px;
  height: 33px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.apps .donwload .downhov {
  opacity: 0;
}
.apps .donwload img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  transition-duration: 0.3s;
}


/*# sourceMappingURL=products.css.map*/