.blkcent {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.morelink {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    text-decoration: none;
    padding-right: 30px;

    span {
        display: inline-block;
        font-size: 18px;
        color: #496DEC;
        position: relative;
    }

    label {
        content: "";
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        top: 3px;
        right: 0;
        border-radius: 50%;
        background-color: #496DEC;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            border: 1px solid #fff;
            border-left: none;
            border-bottom: none;
            top: 5px;
            left: 4px;
            transform: rotate(45deg);
        }
    }
}

.blk-frist {
    position: relative;
    height: 90%;
    overflow: hidden;

    .blkcent {
        position: relative;
        height: 250px;
        top: 50%;
        margin-top: -150px;
    }

    p {
        text-align: center;
        color: #636363;
        font-size: 50px;
        line-height: 70px;

        span {
            color: #496DEC;
        }
    }

    .link {
        text-align: center;
    }

    .mouse {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 50px;

        img {
            display: block;
            height: 47px;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

.product {
    background-color: #FAFAFA;
    padding-top: 150px;
    padding-bottom: 110px;

    .desc {
        float: left;
        margin-left: 50px;

        p {
            font-size: 40px;
            color: #4A4A4A;
            margin-top: 90px;
            line-height: 60px;
            width: 310px;
        }
    }

    .device {
        position: relative;
        float: right;
        width: 870px;
        height: 530px;

        img {
            position: absolute;
            display: block;
        }

        .mac {
            width: 100%;
            margin: 0 auto;
        }

        .pad {
            width: 43%;
            bottom: 0;
        }

        .phe {
            width: 190px;
            left: 35%;
            bottom: -10px;
        }
    }
}

.technology {
    padding-top: 150px;
    padding-bottom: 140px;

    .title {
        width: 996px;
        font-size: 40px;
        color: #4A4A4A;
        text-align: center;
        margin: 0 auto;
        line-height: 60px;
    }

    .link {
        text-align: center;
        position: relative;
        top: -20px;
    }

    .merge {
        position: relative;
        width: 1280px;
        margin-top: 100px;
        text-align: center;

        .tech {
            position: relative;
            display: inline-block;
            width: 330px;
            height: 155px;
            margin: 0 20px;
            background-color: #aaa;
            border-radius: 10px;
            box-shadow: 0 0 50px #888888;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                border-radius: 5px;
            }

            p {
                display: none;
                position: absolute;
                left: 30px;
                bottom: 20px;
                width: 170px;
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.boss {
    position: relative;
    padding: 100px 0;
    text-align: center;

    .bossimg {
        display: inline-block;
        width: 490px;
        height: 365px;
        margin-left: 50px;
        font-size: 0;
        vertical-align: top;

        img {
            display: block;
            width: 100%;
        }
    }

    .bossinfo {
        display: inline-block;
        width: 260px;
        margin-left: 120px;
        text-align: left !important;

        h2 {
            color: #4A4A4A;
            font-size: 40px;
            font-weight: 500;
            margin-top: 60px;

            span {
                font-size: 24px;
                color: #8E8E8E;
                margin-left: 10px;
            }
        }

        p {
            color: #4A4A4A;
            font-size: 20px;
            margin-top: 10px;
        }

        .link {
            margin-top: 50px;
        }

        .schooling {
            position: relative;
            margin-top: 40px;
            color: #8E8E8E;
            margin-left: -16px;

            span {
                position: relative;
                font-size: 16px;
                color: #8E8E8E;
                padding: 0 18px;
            }
        }

        .company {
            margin-top: 20px;
            margin-left: -8px;

            img {
                display: inline-block;
                height: 40px;
                margin-right: 10px;
            }
        }
    }
}

.companynews {
    padding-top: 100px;
    padding-bottom: 200px;

    .title {
        text-align: center;

        label {
            font-size: 26px;
            color: #8E8E8E;
        }

        h3 {
            color: #4A4A4A;
            font-size: 32px;
            font-weight: 400;
        }
    }

    .news {
        margin-top: 80px;
        padding-left: 100px;

        .newsitem {
            float: left;
            box-sizing: border-box;
            padding: 20px 25px;
            border: 1px solid #E8EAED;
            border-radius: 4px;
            position: relative;
            transition-duration: 0.35s;
            background-color: #fff;

            a {
                display: block;
                height: 100%;
            }

            .time {
                font-size: 14px;
                color: #8E8E8E;
                position: absolute;
                left: 25px;
                bottom: 20px;
                white-space: nowrap;
            }

            &:hover {
                box-shadow: 0 0 100px #dddddd;
            }
        }

        .item1 {
            width: 630px;
            height: 510px;

            img {
                height: 290px;
                width: 100%;
                display: block;
                border-radius: 5px;
            }

            .tag {
                margin-top: 30px;
                color: #496DEC;
                font-size: 14px;
            }

            .newstitle {
                margin-top: 15px;
                font-size: 24px;
                height: 80px;
                line-height: 33px;
                color: #4A4A4A;
            }

        }

        .item2 {
            width: 396px;
            height: 241px;
            margin-left: 50px;
            margin-bottom: 28px;

            .tag {
                margin-top: 10px;
                color: #FF6565;
                font-size: 14px;
            }

            .newstitle {
                margin-top: 15px;
                font-size: 20px;
                height: 80px;
                font-weight: 500;
                line-height: 32px;
                color: #4A4A4A;
            }
        }

    }
}