body {
    // overflow: hidden;
}

.head {
    position: relative;
    margin-top: 76px;
    overflow: hidden;
    height: 600px;

    .bgimg {
        position: absolute;
        width: 5000px;
        height: 600px;
        top: 0;
        left: 50%;
        margin-left: -2500px;
        // background-color: rgb(250, 250, 250);

        img {
            position: relative;
            display: block;
            height: 130%;
            margin: 0 auto;
            top: -15%;
        }
    }

    .blkcent {
        box-sizing: border-box;
        padding-left: 60px;

        h1 {
            font-size: 50px;
            line-height: 72px;
            width: 450px;
            color: #303030;
            margin-top: 130px;
            font-weight: 400;
        }

        p {
            width: 420px;
            color: #666666;
            margin-top: 15px;
            font-size: 20px;
            font-weight: 400;
            margin-top: 35px;
            line-height:32px;
        }

        button {
            width: 224px;
            height: 60px;
            background-color: #FA2B56;
            background: linear-gradient(225deg, rgba(250, 43, 86, 1) 0%, rgba(249, 28, 61, 1) 100%);
            box-shadow: 20px 20px 60px 0px rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            outline: none;
            border: none;
            margin-top: 60px;
            font-size: 22px;
            color: rgba(255, 255, 255, 1);
            transition-duration: 0.3s;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.searchtextshow {
    width: 200px !important;
}

.scale08 {
    transform: scale(0.8)
}
.scale07 {
    transform: scale(0.7)
}
.showscroll {
    .searchtext,
    .searchmain {
        opacity: 0 !important;
    }
    .searchresult {
        opacity: 1 !important;
    }
}

.searchani {
    position: relative;
    background-color: #F9F9F9;
    height: 100%;
    box-sizing: border-box;
    padding: 165px 0;
    min-height: 2000px;
    overflow: hidden;


    h2 {
        font-size: 30px;
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        line-height: 32px;
        text-align: center;
        padding-bottom: 70px;
    }

    .iphonescroll {
        position: relative;
        box-sizing: border-box;
        width: 1280px;
        margin: 0 auto;
        height: 100%;
    }

    .scroll {
        height: 800px;
        position: relative;
        width: 1000px;
        margin: 0 auto;
        // border: 1px solid red;
    }

    .absiphone {
        position: absolute;
        width: 556px;
        overflow: hidden;

        >img {
            width: 100%;
            display: block;
        }

        .scrollongimg {
            position: absolute;
            border: 1px solid #999999;
            background-color: #fff;
            border-radius: 2px;
            left: 11.50%;
            top: 12.0%;
            width: 57.3%;
            height: 61.50%;
            box-sizing: border-box;
            overflow-y: hidden;

            img {
                position: absolute;
                display: block;
                width: 100%;
            }

            .searchtext {
                z-index: 10;
                position: absolute;
                font-size: 15px;
                height: 20px;
                left: 11%;
                top: 37.3%;
                width: 0;
                white-space: nowrap;
                overflow: hidden;
                transition-duration: 0.5s;
            }

            .searchmain {
                z-index: 5;
                height: 100%;
                opacity: 1;
                transition-duration: 0.2s;
            }

            .searchresult {
                z-index: 1;
                opacity: 0;
                transition-duration: 0.10s;
            }
        }
    }

    .abstext {
        position: absolute;
        left: 55%;
        width: 45%;
        top: 0;
        // border: 1px solid red;
        height: 100%;

        .textlist {
            position: relative;
            height: 500px;
            top: 30px;
            overflow: hidden;
            // border: 1px solid red;

            .frist {
                h3 {
                    height: 80px;
                }
                p {
                    font-size: 20px !important;
                }
            }

            .item {
                height: 300px;
                padding: 130px 0 70px 0;

                h3 {
                    font-size: 30px;
                    font-weight: 500;
                    color: rgba(74, 74, 74, 1);
                    line-height: 41px;
                    min-width: 42px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(74, 74, 74, 1);
                    line-height: 32px;
                    margin-top: 24px;
                }
            }

            img {
                display: block;
                position: absolute;
                width: 100%;
                height: 100px;
                left: 0;
                z-index: 10;
                // display: none;
            }

            .linertop {
                top: 0;
            }

            .linerbot {
                bottom: 0;
            }
        }

        .list {
            transition-duration: 1s;
        }

        button {
            position: absolute;
            bottom: 25%;
            width: 220px;
            height: 60px;
            background-color: #FA2B56;
            background: linear-gradient(225deg, rgba(250, 43, 86, 1) 0%, rgba(249, 28, 61, 1) 100%);
            box-shadow: 20px 20px 60px 0px rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            outline: none;
            border: none;
            // margin-top: 60px;
            font-size: 22px;
            color: rgba(255, 255, 255, 1);
            transition-duration: 0.3s;
            z-index: 20;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .scrollongimg {
        position: absolute;
    }
}

.search {
    text-align: center;
    padding: 150px 0;

    h3 {
        font-size: 30px;
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        line-height: 32px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 20px;
        margin-top: 28px;
    }

    img {
        width: 838px;
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }
}


.ai {
    padding: 210px 0;

    .title {
        font-size: 30px;
        color: #4A4A4A;
        text-align: center;
    }

    p {
        width: 848px;
        height: 64px;
        font-size: 20px;
        color: rgba(74, 74, 74, 1);
        line-height: 32px;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
    }

    ul {
        margin-top: 86px;

        li {
            float: left;
            width: 16.66%;
            text-align: center;

            img {
                height: 72px;
                margin: 0 auto;
                display: block;
            }

            span {
                display: block;
                text-align: center;
                font-size: 20px;
                color: #4A4A4A;
                margin-top: 15px
            }
        }
    }
}

// new
.apps {
    padding-top: 180px;

    .title {
        height: 84px;
        font-size: 30px;
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        line-height: 42px;
        margin: 0 auto;
        margin-bottom: 70px;
        text-align: center;
    }

    .grid3 {
        width: 1280px;
        margin: 0 auto;

        .griditem {
            float: left;
            width: 33.33%;
        }

        .gridcnt {
            width: 280px;
            margin: 0 auto;
            text-align: center;
        }

        .appicon {
            width: 66px;
        }

        .appname {
            font-size: 22px;
            font-weight: 500;
            color: rgba(74, 74, 74, 1);
            line-height: 26px;
            margin-top: 10px;
        }

        h4 {
            font-size: 20px;
            font-weight: 500;
            color: rgba(102, 102, 102, 1);
            line-height: 20px;
            margin-top: 20px;
        }

        .desc {
            margin-top: 10px;
            font-size: 15px;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 22px;
            height: 44px;
        }

        .donwload {
            position: relative;
            text-align: center;
            margin-top: 25px;

            a {
                position: relative;
                display: inline-block;
                width: 110px;
                height: 33px;
                border: 1px solid #4A4A4A;
                box-sizing: border-box;
                border-radius: 5px;
                margin: 0 7px;
                transition-duration: 0.25s;
                overflow: visible;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }

        .view {
            width: 245px;
            margin-top: 40px;
        }



    }

    .grid2 {
        text-align: center;
        margin-top: 120px;

        .griditem {
            position: relative;
            display: inline-block;
            width: 514px;
            height: 181px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            box-sizing: border-box;
            padding: 30px 35px;
            margin: 0 15px;
        }

        .appicon {
            float: left;
            top: 0;
            left: 0;
            width: 73px;

            img {
                width: 100%;
            }
        }

        .appname {
            margin-left: 100px;
            text-align: left;
            font-size: 22px;
            font-weight: 500;
            color: rgba(74, 74, 74, 1);
            line-height: 26px;
        }

        .appdesc {
            margin-left: 100px;
            text-align: left;
            font-size: 15px;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 22px;
            margin-top: 7px;
            box-sizing: border-box;
            padding-right: 25px;
        }

        .applink {
            position: absolute;
            bottom: 25px;
            right: 40px;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            padding: 10px 20px;

            a {
                color: rgba(73, 109, 236, 1);
            }
        }
    }

    .qrcode {
        position: absolute;
        display: none;
        background: rgba(246, 246, 246, 1);
        box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border: 1px solid rgba(151, 151, 151, 1);
        padding: 20px;
        bottom: 40px;
        left: 50%;
        margin-left: -86px;
        z-index: 20;
        opacity: 0;

        p {
            font-size: 15px;
            font-weight: 400;
            color: rgba(74, 74, 74, 1);
            line-height: 21px;
            text-align: center;
            margin-bottom: 15px;
        }

        div {
            position: relative;
            width: 129px;
            height: 129px;
            margin: 0 auto;
            background-color: #D8D8D8;

            img {
                display: block;
                width: 100;
                height: 100%;
            }
        }
    }

}


.ai2 {

    padding: 150px 0;

    h2 {
        font-size: 30px;
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        line-height: 26px;
        text-align: center;
    }

    .desc {
        font-size: 20px;
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        line-height: 32px;
        width: 848px;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }

    .grid {
        padding-top: 70px;
        width: 1280px;
        margin: 0 auto;

        .item {
            position: relative;
            float: left;
            height: 230px;
            margin: 0 20px;
            margin-bottom: 40px;
            width: 600px;
            padding: 30px;
            box-sizing: border-box;
            border: 1px solid #F3F3F3;
            transition-duration: 0.25s;

            img {
                height: 50px;
                position: absolute;
                left: 30px;
                right: 30px;
            }

            h3 {
                font-size: 20px;
                font-weight: 500;
                color: rgba(102, 102, 102, 1);
                line-height: 28px;
                margin-left: 70px;
                line-height: 50px;
            }

            p {
                margin-top: 20px;
                font-size: 16px;
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 24px;
            }

            &:hover {
                box-shadow:0px 20px 60px 0px rgba(0,0,0,0.1);
            }
        }

    }

}